/* ### CUSTOM PROPERTIES ### */

:root {
  /* primary */
  --primary-violet: hsl(257, 40%, 49%);
  --primary-soft-magenta: hsl(300, 69%, 71%);

  /* typography */
  /* headings */
  --ff-poppins: "Poppins", sans-serif;
  /* body */
  --ff-open-sans: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a[class] {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* ### UTILITY CLASSES ### */

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap, 1rem);
  align-items: center;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-open-sans);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--primary-violet);
  color: white;
  padding: 2.5rem;
  font-weight: var(--fw-400);
}

main {
  margin-block: 3.6rem;
}

.logo {
  width: 150px;
}

.text-section {
  --stack-gap: 1.5rem;
  margin-block-start: 3.6rem;
  text-align: center;
}

h1 {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-600);
  font-size: 1.5rem;
}

.text-section p {
  line-height: 1.5;
  font-size: 0.965rem;
}

a.btn {
  background-color: white;
  color: var(--primary-violet);
  padding: 0.8em 1.5em;
  border-radius: 200px;
  width: 85%;
  font-size: 0.875rem;
}

a.btn:hover {
  background-color: var(--primary-soft-magenta);
  color: white;
  box-shadow: 10px 10px 20px rgb(85, 61, 144);
}

/* ### FOOTER ### */

footer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 200px;
  border: 2px solid white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  font-size: 1rem;
}
