/* ### CUSTOM PROPERTIES ### */

:root {
  /* primary */
  --primary-violet: hsl(257, 40%, 49%);
  --primary-soft-magenta: hsl(300, 69%, 71%);

  /* typography */
  /* headings */
  --ff-poppins: "Poppins", sans-serif;
  /* body */
  --ff-open-sans: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a[class] {
  text-decoration: none;
}
